body,html {
  padding: 0;
  margin: 0;
  background-color: #2d2d2d;
  color: white;
}

.navbar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #3d3d3d;
  padding: 1rem 10rem;
  color: rgb(219, 219, 219);
}

.navbar-logo {
  font-size: 32px;
  padding: 0;
  margin: 0;
}

.navbar-ul {
  display: flex;
  gap: 3rem;
  padding: 0;
  margin: 0;
}

.navbar-ul > li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  cursor: pointer;
}

.navbar-ul > li:hover {
  color: rgb(253, 233, 233);
}
.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 15rem;
  gap: 1rem;
}

.hero-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  border-bottom: 1px solid white;
  padding-bottom: 2rem;
}

.hero-movie-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25rem;
}

.hero-movie-summary-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hero-movie-indepth-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero-movie-tags-ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.hero-movie-tags-ul > li {
  background-color: #3d3d3d;
  border-radius: 10px;
  padding: 0.3rem;
}
.hero-movie-director-ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.hero-movie-director-ul > li {
  background-color: #3d3d3d;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 11px;
}
.hero-movie-stars-ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.hero-movie-stars-ul > li {
  background-color: #3d3d3d;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 11px;
}